{% extends "base.html" %}
{% load i18n static %}
{% load i18n %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}"/>
{% endblock %}



{% block content %}

    <form action="{% url 'set_language' %}" method='POST'>
        {% csrf_token %}
        <div class="input-field col s12">
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{language.name_local}} {{language.code}}
                </option>
            {% endfor %}

        </select>

        </div>
        <input type="submit" value="{% trans "Go" %}">
    </form>

    <div class="container">
     
        <h1 class="centrar" style="color: #FF603E">{% trans "Evolution and Change Management" %}</h1>
        <h5 class="centrar">{% trans "EGC is a subject from the University of Seville, which belongs to the fourth year of the Computer Software Engineering degree. What it is about and its different sections within it will be detailed below." %}</h5>

    <br>
     
    <h4 style="color: #FF603E">{% trans "Theory topics" %}</h4>
    <p> {% trans "It consists of different theory topics that are:" %}</p>
    <ol> 
        <li >{% trans "Continuous integration" %}</li>
        <li>{% trans "Software testing" %}</li>
        <li>{% trans "Presentation of the subject" %}</li>
        <li>{% trans "Team management" %}</li>
        <li>{% trans "Source code management" %}</li>
        <li>{% trans "Incidents and debugging" %}</li>
        <li>FLOSS</li>
        <li>{% trans "Software configurability and software product lines" %}</li>
        <li>{% trans "DevOps in a complete pipeline" %}</li>
        <li>{% trans "Innosoft and project management" %}</li>
    </ol>
     
     <br>
     
     <h4 style="color: #FF603E">{% trans "Subject practices:" %}</h4>

     <p>
     <ol>
     <li>{% trans "Installation of Decide" %}</li>
     <li>{% trans "Software Testing" %}</li>
     <li>{% trans "Source Code Management and Continuous Integration" %}</li>
     <li>{% trans "Application Deployment: Containers" %}</li>
     <li>{% trans "Application Deployment: Virtual Machines" %}</li>
     </ol>
     </p>

     <p class="cursiva" style="color: #fd2f01"> {% trans "For more information on Decide:" %} <a href='http://0.0.0.0:8080/nuevaInfo/masInfo/' >Decide</a> </p>

     <h4 style="color: #FF603E">{% trans "Journeys:" %} </h4>
     <p>{% trans "There are some conferences that are divided into committees for the organization of talks and events, where students participate." %} </p>
     <p style="color: #fd2f01" class="cursiva"> {% trans "For more information about these journeys:" %} 
        <a href='http://0.0.0.0:8080/nuevaInfo/masInfoJornadas/' > {% trans "Journeys" %}</a> </p>
  </div>


{% endblock %}