{% extends "base.html" %}
{% load i18n static %}
{% load i18n %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}


{% block content %}


     <form action="{% url 'set_language' %}" method='POST'>
          {% csrf_token %}
          <div class="input-field col s12">
          <select name="language" id="">
               {% get_available_languages as LANGUAGES %}
               {% get_language_info_list for LANGUAGES as languages %}
               {% for language in languages %}
                    <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                         {{language.name_local}} {{language.code}}
                    </option>
               {% endfor %}

          </select>

          </div>
          <input type="submit" value="{% trans "Go" %}">
     </form>


     <div class="container">
          <h1 class="centrar">{% trans "Translation subsystem" %}</h1>
       
          <br>
          <h4>{% trans "Why have we chosen the translation subsystem?" %}</h4>
          <p>{% trans "Translating a Django application into any language and allowing it to be detected depending on the requests of your users is a very important feature nowadays." %}
               {% trans "In addition, it is very useful to learn to do this since most of the pages that we find on the Internet give you the option of translating them. In this section we will explore a bit how to do it." %}
          
               {% trans "To carry out this translation task we needed to have a Django project, which we have used the" %} <em>decide</em> {% trans "project from the repository provided in the" %}
               {% trans "subject of Evolution and Configuration Management. In addition, we need to have" %} <code>gettext</code> {% trans "installed, which is a module that reads the language used by the system and from this" %}
               {% trans "loads the corresponding translation file (*.mo) changing the text strings to the system language." %}</p>

          <br>
          <h4>{% trans "Steps to perform:" %}</h4>

          <ol>
               <li> {% trans "Make sure we have translations enabled in our settings. To do this, we need to make the following changes to the" %} <code>settings.py</code>:
               
                    <div class = "codehilite">
                         
                         <pre>
                              <span></span>
                              <code>
                                   <span class = "n">LANGUAGE_CODE</span> <span class = "o">=</span> <span class = "s1">'es'</span>
                                   
                                   <span class = "n">TIME_ZONE</span> <span class = "o">=</span> <span class = "s1">'UTC'</span>
                                   
                                   <span class = "n">USE_I18N</span> <span class = "o">=</span> <span class = "kc">True</span>
                                   <span class = "n">USE_L10N</span> <span class = "o">=</span> <span class = "kc">True</span>
                                   <span class = "n">USE_TZ</span> <span class = "o">=</span> <span class = "kc">True</span>
                                   
                                   <span class = "n">LOCALE_PATHS</span> <span class = "o">=</span> <span class = "o">[</span>
                                   <span class = "n">       os.path.join(BASE_DIR, 'locale')</span>
                                   <span class = "o">]</span>
                                   
                                   <span class = "n">LANGUAJES</span> <span class = "o">=</span> <span class = "o">[</span>
                                   <span class = "s1">      ('en', 'English'),</span>
                                   <span class = "s1">      ('es', 'Spanish'),</span>
                                   <span class = "o">]</span> 
                                   <br>

                              </code>
                              
                         </pre>  
                         <p>{% trans "For this case we have defined that our project is by default in" %} <b>{% trans "English" %}</b>.</p>  
               </div>

               
               </li>
               
               <li> {% trans "Once what is indicated in the previous step has been done, we should add the following line" %} <code>'django.middleware.locale.LocaleMiddleware'</code>{% trans "to the" %} <code>settings.py</code> {% trans "of our project, it is important Place this middleware between" %} <code>SessionMiddleware</code> {% trans "and" %} <code>CommonMiddleware</code>.
                    <p>
                         {% trans "In this case, what we have done is tell Django to use the" %} <code>LocaleMiddleware</code> {% trans "which will take care of choosing the appropriate language for each user" %} <b> {% trans "based on information extracted from the request" %}</b>.</p>
               </li>

               <li> 
                    {% trans "The next step is to" %} <b>{% trans "mark the texts that we want to translate" %}</b> {% trans "within our project, for this there are different ways depending on the text that we are going to translate." %} <br>
                    <br>
                    <h5> {% trans "Traduce in templates" %}</h5>
                    <p>{% trans "To explain how to translate templates, suppose we have an index.html in" %} <code>templates/some_app/index.html</code></p>
                    <p>{% trans "We need to adapt this file so that it can be translated:" %}</p>
                    <ul>
                         <li>{% trans "We would have to add the sentence" %} <code>{'%trans texto_que_se_quiere_traducir %'}</code> {% trans "in each text that we want to translate" %}.</li>
                         <p>{% trans "In addition, in each html that we want to introduce a translation we must include the i18n templatetags with" %} <code>{'% load i18n %'}</code>.</p>

                    
                    </ul>

               </li>

               <li> {% trans "Later you would have to create a folder called" %}<code>locale</code> {% trans "in the path" %} <code>some_project/locale</code>.
                    

                    <p>
                         {% trans "Having everything configured, now yes, we proceed to create the translation files. For this we use the following command from the project path:" %}
                         <code>django-admin makemessages -l es</code>
                         
                    </p>
                    <p><b>{% trans "This will create the translation files for the Spanish language, which is the one we have used for our project" %}.</b></p>
               </li>

               <li> {% trans "With the commands executed in the previous step, a .po file will be generated in the" %} <code>locale</code> {% trans "folder" %}.
                    <h5> {% trans "Translate .po files" %}</h5>
                    <p> {% trans "These files are the ones we will use" %} <b>{% trans "to specify to Django how to translate each word in a certain language" %}</b>, {% trans "so simply for each of the strings that appear in" %} <code>msgid</code> {% trans "we can specify its translation with strings" %} <code>msgstr</code></p>
               </li>

               <li> {% trans "Next we proceed to compile the messages created with the previously executed command" %}.
                    <h5> {% trans "Compile translation files" %}</h5>
                    
                    <p> {% trans "Once we have our complete translation files, we will proceed to compile them with the following command:" %}
                              <code>django-admin compilemessages</code>
                              {% trans "When we compile our files," %} <b>{% trans "we are ready to use our project in the specified language" %}</b>.
                              {% trans "Every time one of our users consults our project it will appear in their language. For testing purposes, we can change the language of the project to Spanish and observe the results" %}.
                    </p>
               
               </li>

               <li><h5>{% trans "How did we select the language?" %}</h5>
                    <p> {% trans "For this we have implemented a drop-down html code, which allows us to select the language to which we want to translate and, later, once selected, we must click on a button that says Go which translates the entire html page to the selected language" %}. </p>
               </li>

          </ol>

          <h4>{% trans "Things to keep in mind:" %}</h4>
          <ul>
               <li>{% trans "Every time we add an html in our project we must modify the file" %} <code>urls.py</code> {% trans "where we have to add a line like this" %} <code>path('path/', view_method_name)</code>, {% trans "and also import said view in our file" %} <code>urls.py</code> {% trans "in this way" %} <code>from .views import view_method_name</code></li>
               <li>{% trans "You also have to modify the" %} <code>views.py</code> {% trans "file and add a function for each new html file that you add, this function will contain a line like this:" %} <code>return render(request, 'rutaNueva /file.html')</code></li>
          </ul>


     </div>


{% endblock %}