{% extends "base.html" %}
{% load i18n static %}
{% load i18n %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}


{% block content %}



     <div class="container">
          <h1 class="centrar">{% trans "Innosoft Days" %}</h1>
          <h5 class="centrar">{% trans "The InnoSoft Days are here: tenth edition!" %}</h5>

     <br>
     <p>{% trans "The tenth anniversary of these conferences are celebrated on November 8, 10 and 11, 2022 at the Higher Technical School of Computer Engineering (ETSII)." %}</p>
     
     <br>
     <p>{% trans "This year's workshops will have Free Software as their theme. During these days there will be a series of presentations and activities in which you can participate. Do not miss it!" %}</p>

     <br>
     <h4>{% trans "Schedule:" %}</h4>

     <br>
     <p>{% trans "We already have the schedule of the days available! Cheer up and attend everyone, they are very interesting" %}</p>

     <br>
     <img src="resources/Horario-2.jpeg"> 

     <br>
     <h4>{% trans "Poster:" %}</h4>

     <br>
     <p>{% trans "We also leave the promotional poster of the conference." %}</p>
     
     <br>
     <img src="resources/cartel.jpg">          

     </div>


{% endblock %}